{{ partial "header.html" . }} {{ partial "navbar.html" . }} {{ $baseurl := .Site.BaseURL }}

<h3>Posts:</h3>
<div class="row marketing">
    <div class="col-lg-12">
        {{ range $name, $page := .Data.Pages }}
        <h4><a href="{{ .Permalink }}">{{ $page.Title }}</a></h4>
            <div class="post-summary">{{ $page.Description }}</div>
        <p>
            <sup>
                submitted <time datetime='{{ $page.Date.Format "2006-01-02" }}' class="post-list timeago">{{$page.Date.Format "2006-01-02T15:04:05Z07:00"}}</time>
                {{if $page.Params.tags}} to {{end}} {{with $page.Params.tags}} tags: [{{range $page.Params.tags}}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a>{{end}}]{{end}}
            </sup>
        </p>
        {{ end }}
    </div>
</div>

{{partial "footer.html" .}}
